:host{
    margin: 3.125dvh 1.953dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 16px;
    width: 364px;
    background-color: var(--background-secondary);
    color: var(--text);
    border: 1px solid var(--border);
    box-shadow: 4px 4px 8px var(--shadow);
    border-radius: 16px;
    font-size: 1.1rem;  
    z-index: 99999; 
    align-self: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    height: 100%;
    & h2{
        margin: 0;
    }
    & span{
        color: var(--text-secondary);
        & strong{
            color: var(--text);
        }
    }
}